@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
.title-01 {
  z-index: 1;
  position: relative;
}

@media (min-width: 768px) {
  .title-01--11 .title__heading {
    font-size: 3.75rem;
  }
}

@media (min-width: 992px) {
  .title-01--11 .title__heading {
    font-size: 4.375rem;
  }
}

.title-01--11 .title__description {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .title-01--11 .title__description {
    font-size: 1.25rem;
    padding: 0 5.9375rem;
  }
}

.hero-section,
.hero-section__wrap {
  position: relative;
  overflow: hidden;
}

.hero-section .container,
.hero-section__wrap .container {
  z-index: 2;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-section__wrap {
  height: 100vh;
}

.hero-section__wrap .title__heading {
  text-align: center;
}

.hero-section__wrap .title__heading > span + strong.hero-section__words {
  text-align: left;
}

.hero-section__option {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section__option img {
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  position: absolute;
}

@media (min-width: 1200px) {
  .hero-section__option img {
    position: static;
    max-width: 100%;
  }
}

.hero-section--image::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.hero-section--image * {
  color: #fff;
}

.hero-section--color * {
  color: #fff;
}

.hero-section__words {
  position: relative;
}

.hero-section__words .title__effect {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
}

.hero-section__words .title__effect.is-visible {
  position: relative;
  opacity: 1;
}

.no-js .hero-section__words .title__effect {
  opacity: 0;
}

.no-js .hero-section__words .title__effect.is-visible {
  opacity: 1;
}


.hero-section.clip .title__heading > span,
.hero-section.clip .title__effect {
  display: contents;
  padding: .2em 0;
}

.hero-section.clip .hero-section__words {
  overflow: hidden;
  vertical-align: top;
}

.hero-section.clip .hero-section__words::after {

  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #aebcb9;
}

.hero-section.clip .title__effect {
  opacity: 0;
}

.hero-section.clip .title__effect.is-visible {
  opacity: 1;
}

.typed-cursor {
  display: none !important;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}

