    .navbar {
        position: relative;
    }

    .header {
        border-bottom: 2px solid #2ba745;
    }
    
    .navbar .dropdown-menu {
        border-top: 2px solid #dcb14a;
    }
    
    .navbar .dropdown-menu::before {
        content: "";
        display: block;
        border-left: 0.5rem solid transparent;
        border-right: 0.5rem solid transparent;
        border-bottom: 0.5rem solid #dcb14a;
        position: absolute;
        top: -0.5rem;
        left: 1rem;
    }
    
    @media (min-width: 992px) {
        .navbar-brand {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }
    }
    
    .navbar .dropdown-menu {
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
        transition: 0.2s ease all;
    }
    
    @media (min-width: 992px) {
        .navbar .dropdown-menu {
        display: block;
        }
    }
    
    @media (max-width: 991.98px) {
        .navbar .dropdown-menu.always-animated {
        display: block;
        }
    }
    
    .navbar .dropdown-menu.show {
        display: block;
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        transition: 0.2s ease all;
    }
    
    .ml-auto {
        margin-left: auto;
    }
